<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="css/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h1>Timestamp Microservice API Documentation</h1>
        
        <div class="endpoint-section">
          <div class="endpoint-header">
            <span class="method-get">GET</span>
            <code>/api/timestamp/:date_string?</code>
          </div>
          <div class="endpoint-description">
            <p>Returns the Unix timestamp and UTC string for a given date.</p>
            
            <h3>Demo</h3>
            <div class="demo-box">
              <div class="input-group">
                <input type="text" id="dateInput" placeholder="Enter date (e.g., 2015-12-25)">
                <button onclick="testAPI()">Test API</button>
                <button onclick="testCurrentTime()">Current Time</button>
              </div>
              <div id="result" class="response">Results will appear here...</div>
            </div>

            <h3>Parameters</h3>
            <table class="params-table">
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
              <tr>
                <td>date_string</td>
                <td>string</td>
                <td>Optional. Date in ISO-8601 format or Unix timestamp</td>
              </tr>
            </table>

            <div class="examples-section">
              <h3>Example 1: Valid ISO Date</h3>
              <div class="example-box">
                <div class="request">
                  <span class="method-get">GET</span>
                  <code>/api/timestamp/2015-12-25</code>
                </div>
                <div class="response">
                  <h4>Response:</h4>
                  <pre>{
  "unix": 1451001600000,
  "utc": "Fri, 25 Dec 2015 00:00:00 GMT"
}</pre>
                </div>
              </div>

              <h3>Example 2: Unix Timestamp</h3>
              <div class="example-box">
                <div class="request">
                  <span class="method-get">GET</span>
                  <code>/api/timestamp/1451001600000</code>
                </div>
                <div class="response">
                  <h4>Response:</h4>
                  <pre>{
  "unix": 1451001600000,
  "utc": "Fri, 25 Dec 2015 00:00:00 GMT"
}</pre>
                </div>
              </div>

              <h3>Example 3: Current Time</h3>
              <div class="example-box">
                <div class="request">
                  <span class="method-get">GET</span>
                  <code>/api/timestamp</code>
                </div>
                <div class="response">
                  <h4>Response:</h4>
                  <pre>{
  "unix": 1683900000000,
  "utc": "Fri, 12 May 2023 12:00:00 GMT"
}</pre>
                </div>
              </div>

              <h3>Example 4: Invalid Date</h3>
              <div class="example-box">
                <div class="request">
                  <span class="method-get">GET</span>
                  <code>/api/timestamp/invalid-date</code>
                </div>
                <div class="response">
                  <h4>Response:</h4>
                  <pre>{
  "unix": null,
  "utc": "Invalid Date"
}</pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <script src="/js/script.js"></script>

      <div class="footer">
        <p>by <a href="http://www.freecodecamp.com/">freeCodeCamp</a></p>
      </div>
   </body>

</html>
